include config
doctype html
html(lang="en")
  head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      title= `${pageTitle}`
      block styles
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href=`/css/style${dev ? '.css' : '.min.css'}`)
  body
    .wrapper
      header.page-header.bg-primary.pt-3
        h1.text-center.text-light How much i need
        p.text-center.text-light Ioseph Peralta
      div.page-body.container-fluid
        .row
        block content
      footer.page-footer.mt-3.bg-primary
  block scripts
    include scripts