.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-header,
.page-footer {
    flex-shrink: 0;
}

.page-footer{
    min-height: 50px;
}

.page-body {
    flex-grow: 1;
}
