extends ../includes/layout
block content

    main.col-12
        section.col-sm-12.d-flex.justify-content-center
            img(src=goal.image alt="goal thunmail").img-thumbnail.img-fluid.m-4
        section.row.d-flex.justify-content-center
            .col-3.text-right= goal.currentAmount
            .col-6.p-0
                .progress(style="height: 10px;")
                    .progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar" style=`width: ${(goal.currentAmount / goal.totalAmount ) * 100 }%;` aria-valuenow="60" aria-valuemin="0" aria-valuemax="500")
            .col-3.text-left= goal.totalAmount

        .col-sm-12.d-flex.justify-content-center.flex-wrap.mt-4.pt-4.border-top

            //-
                *******************************
                *******************************
                        Table of incomes
                *******************************
                *******************************
            //-
            section.col-12.col-lg-8.table-responsive
                header.col-12.mb-3
                    h2.text-center Incomes 
                        button(type="button" name="newIncome").btn.btn-outline-primary.btn-lg New income
                table.table.table-hover
                    thead
                        tr
                            //th(scope="col") Date
                            th(scope="col") Name
                            th(scope="col") Mount
                            th(scope="col") Description
                    tbody
                        each income in goal.incomes
                            tr
                                //td= `${income.date.getDate()}/${income.date.getMonth() + 1 }/${income.date.getFullYear()}`
                                td= income.name
                                td= income.mount
                                td= income.description

            //-
                *******************************
                *******************************
                        New income form
                *******************************
                *******************************
            //-

            section.col-12.col-lg-4
                header.col-12.mb-3
                    h2.text-center New Income 
                        button(type="button" name="newIncome")#newIncome.btn.btn-outline-primary.btn-lg Close

                form(method="post")
                    .form-group
                        label(for="newIncomeName") Income name:
                        input(type="text" aria-describedby="newIncomeNameHelp")#newIncomeName.form-control
                        small#newIncomeNameHelp.form-text.text-muted Enter descriptive name for new income

                    .form-group
                        label(for="newIncomeMount") Income mount:
                        input(type="number" aria-describedby="newIncomeMountHelp")#newIncomeMount.form-control
                        small#newIncomeMountHelp.form-text.text-muted Insert the mount of new income in numbers

                    .form-group
                        label(for="newIncomedescription") Income description:
                        textarea(placeholder="Optional" aria-describedby="newIncomedescriptionHelp")#newIncomedescription.form-control
                        small#newIncomedescriptionHelp.form-text.text-muted Optional description for new income

                    button(type="submit").btn.btn-primary.btn-lg.btn-block Submit