extends ../includes/layout
block content
    
    main.col-12
        section.col-12
            header.col-sm-12.d-flex.justify-content-center.mt-4
                h2 Goals 
                    button(type="button" name="newGoal").btn.btn-outline-primary New goal
            .col-12.d-flex.justify-content-center.flex-wrap.mt-2.pt-4.border-top
            ul.col-12.row
                each goal in goals
                    .col-12.col-md-4.col-lg-3
                        li.card.mb-3
                            img(src=goal.image alt="goal thunmail" height="160").card-img-top
                            div
                                .col-12.p-0
                                    .progress(style="height: 4px;")
                                        .progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar" style=`width: ${(goal.currentAmount / goal.totalAmount ) * 100 }%;` aria-valuenow="60" aria-valuemin="0" aria-valuemax="500")
                            .card-body
                                h3.card-title= goal.name
                                //p.card-subtitle= `${goal.finalDate.getDate()}/${goal.finalDate.getMonth() + 1 }/${goal.finalDate.getFullYear()}`
                                p.card-text= goal.description
                                button(type="button" name="newGoal" id=`${goal._id}`).btn.btn-primary.btn-block Details

    
    